.footer{
    height: 15vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid black;
}


.social-network{
    display: flex;
    align-items: center;
    justify-content: center;
}


.social-media__link{
    padding: 0 10px;
}


.other-elements{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.other-elements__div{
    margin: 2px;
}


.other-elements__div a{
    color: black;
    text-decoration: none;
}
